{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Cadastro de Usuario {% endblock %}

{% block content%}
<div class="login">
    <div class="titulo1">Cadastro de Usuario<br></div>
    <form method="POST">
        <div class="centralizador">
            <div class="text-center">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                <div class="input-group mb-3">
                    <span class="input-group-text">Nome</span>
                    <input type="text" name="username" maxlength="150"autocapitalize="none"  
                    autocomplete="username" autofocus required id="username" class="form-control" 
                    data-toggle="tooltip" title="Maximo 150 caracteres! Letras, Numeros e Caracteres especiais(@/./+/-/_) apenas">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Senha</span>
                    <input type="password" name="password1" class="form-control" 
                    autocomplete="new-password" required id="id_password1"
                    data-toggle="tooltip" title="Sua Senha deve conter no minimo 8 caracteres e não possuir apenas numeros!">          
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Senha</span>
                    <input type="password" name="password2" class="form-control" 
                    autocomplete="new-password" required id="id_password2"
                    data-toggle="tooltip" title="Repita a Senha!">       
                </div>

                <div class="d-grid gap-1 d-md-block">
                    <button class="btn btn-entrar" type="submit" Value="Save" name="_save">Cadastrar</button>
                    <button class="btn btn-entrar" type="button" onclick="sair()">Sair</button>
                </div>
            </div>
        </div>

        <p class="change-form-p"> Já possui uma conta? <a href="/accounts/login">Clique Aqui.</a></div>
    </form>
</div>
{% endblock %}