{% extends 'base.html' %}
{% load static %}

{% block title %} Contato {% endblock %}

{% block content%}
<section id="conteudo">
    <!--
    <section id="fundo">
        <img src="Imagens/background1.jpg" class="imagemfundo">
    </section>-->
    <div class="cartao">
        <div class="titulo1"><br>Localização</div>
        <div class="texto2">
            Estamos Localizados na <br> Av. Prof. Almeida Prado, n° 532 <br> Butantã
        </div>
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4349.30666434304!2d-46.73668285808693!3d-23.557077935456807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce56111eedd427%3A0x7b9dd4b4ece38e14!2sAv.%20Prof.%20Almeida%20Prado%2C%20532%20-%20Butant%C3%A3%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2005508-070!5e0!3m2!1spt-BR!2sbr!4v1656290261103!5m2!1spt-BR!2sbr" width="45vw" height="45vw" style="border:0;" 
            allowfullscreen="" loading="lazy" >
            </iframe>
        </div>

    </div>
</section>

<script>
    if('geolocation' in navegador){
        navigator.geolocation.getCurrentPosition(function(position){
            console.log(position)
        })
    }
</script>

{% endblock %}