{% extends 'base.html' %}
{% load static %}

{% block title %} Editando '{{task.nome}}' {% endblock %}

{% block content%}
<section id="conteudo">
    <div class="geral">  
        
        <form method="POST">
            {% csrf_token %}

            <div class="titulo2">Editando {{task.nome}}</div>
        
            <div class="dadospessoais">
                <div class="texto4">
                    Insira Abaixo as informações:
                </div>
    
                <div class="input-group mb-3">
                    <span class="input-group-text">Nome</span>
                    <input type="text" class="form-control" value="{{task.nome}}" id='nome' name='nome'>
                </div>
        
                <div class="input-group mb-3">
                    <span class="input-group-text">Telefone</span>
                    <input type="text" class="form-control"  value="{{task.telefone}}" id='telefone' name='telefone'>
                </div>
                  
                <div class="input-group mb-3">
                    <span class="input-group-text">Email</span>
                    <input type="text" class="form-control" value="{{task.email}}" id='email' name='email'>
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text">Senha</span>
                    <input type="password" class="form-control" value="{{task.senha}}" id="senha" name='senha'>
                    <span class="input-group-text" id="olho"><i class="fas fa-eye"></i></span>
                </div>
            </div>
            
            <div class="dadospessoais">
                <div class="texto4">
                    Endereço:
                </div>
        
                <div class="input-group mb-3">
                    <span class="input-group-text">Cep°</span>
                    <input type="text" class="form-control" value="{{task.cep}}" id='cep' name='cep'>
                    <span class="input-group-text">N°</span>
                    <input type="text" class="form-control" value="{{task.numero}}" id='numero' name='numero'>
                    
                </div>
        
                <div class="input-group mb-3">
                    <span class="input-group-text">Complemento</span>
                    <input type="text" class="form-control" value="{{task.complemento}}" id='complemento' name='complemento'>
                    <span class="input-group-text">Profissional</span>
                    <select class="form-control" name='profissional' id='profissional'>
                        <option>Assistencia Tecnica</option>
                        <option>Professor</option>
                        <option>Mecanico</option>
                        <option>Consultoria</option>
                        <option>Tecnologia</option>
                        <option>Eventos</option>
                        <option>Beleza</option>
                        <option>Reparos</option>
                        <option>Saude</option>
                        <option>Domestico</option>
                        <option>Motociclista</option>
                    </select>
                    
                </div>
                <div class="centralizador">
                    <div class="text-center">
                            <input type="submit" class="btn btn-entrar" value="Salvar">
                            <button class="btn btn-entrar" type="button" onclick="sairAdmin()">Sair</button></span>
                    </div>
                </div>
            </div>

        </form>
        
    </div>
</section>
{% endblock %}