{% extends 'base.html' %}
{% load static %}

{% block title %} Online Service {% endblock %}

{% block content%}

<div class="Banner">
    

    <div class="geral">
             
        <div class="cartao2">
            <div class="titulo1">Online Service</div>
            <div class="texto3" center><br>O Online Service é uma plataforma que conecta aqueles que precisam de profissionais para serviços especificos com profissionais especializados.<br>
                Nascemos com o intuito de encurtar distância e tornar a realização de serviços autônomos menos burocráticos.<br>
                Se você busca por prestadores de serviços, visite nossa aba Profissionais.<br>
                Se você é um prestador e deseja se inscrever na plataforma clique em Entrar.                
            </div>
            <section id="fotos">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{% static 'img/cadastroPI.png' %}" class="d-block">
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'img/registroPI.png' %}" class="d-block">
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'img/contatoPI.png' %}" class="d-block">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </section>
        </div>
            
    </div>
</div>
{% endblock %}