{% extends 'base.html' %}
{% load static %}

{% block title %} Fraternidade e Amor {% endblock %}

{% block content%}

<div class="Banner">
    

    <div class="geral">
             
        <div class="cartao2">
            <div class="titulo1">Nossa História</div>
            <div class="texto1"><br>A Fraternidade e Amor nasceu de um encontro de amigos, com um único objetivo, o de unir corações, e fazer do Espiritismo uma doutrina de amor, independentemente da religião.
                A principio nossos encontros tinha o intuito de montar um novo Grupo Espírita. <br>Foram várias reuniões e planejamentos em locais improvisados, tendo se concretizado nosso primeiro encontro como Fraternidade e Amor no dia 02 de abril de 2015 no espaço “La Belle”, onde iniciamos nossas atividades ao público com palestras, atendimentos e passes. Permanecemos nesse local até início de Setembro/2015. 
                <br>Mudamos depois para Rua Campinas do Piauí, n° 22 – Itaquera, onde no dia 15 de setembro de 2015 inauguramos o novo espaço com uma Palestra Pública.
                <br>Nossas atividades consistem em palestras as terças e sextas-feiras, passes, estudos das obras de Kardec, Socorro Espiritual, Assistência Fraterna com entrevista às 4ª feiras, evangelização infantil em conjunto com os temas das palestras.
                Assim quem tiver interesse de nos auxiliar e participar do projeto, pode nos procurar.
            </div>
            <div class="imglogindiv">
                <div class="d-grid gap-1 d-md-block">
                    <img src="{% static 'img/donat3.jpg' %}" class="imglogin" alt="...">
                    <img src="{% static 'img/donat5.jpg' %}" class="imglogin" alt="...">
                </div><br>
                <div class="d-grid gap-1 d-md-block">
                    <img src="{% static 'img/donat1.jpg' %}" class="imglogin" alt="...">
                    <img src="{% static 'img/donat4.jpg' %}" class="imglogin" alt="...">
                </div><br>
                
            </div>
            
    
    </div>
</div>
{% endblock %}