{% extends 'base.html' %}

{% block title %} Prestadores {% endblock %}

{% block content%}

<div class="geral5">
    <div class="titulo2">
        Escolha abaixo o Prestador:
    </div>
    <div class="containerlist">
        <ul class="task-list">
            {% for task in loginPrestador%}
            <li class="task-item">
                <span class="funcionarios"><a href="/prestador/{{task.id}}" class="link_lista">{{task.nome}}</a></span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if logins.has_previous %}
                <a href="?page={{ logins.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}
            <span class="current">
                {{ logins.number }} de {{ logins.paginator.num_pages }}
            </span>
            {% if logins.has_next %}
                <a href="?page={{ logins.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>

    <div class="centralizador">
        <div class="text-center">
            <div class="d-grid gap-1 d-md-block">
                <!--<button class="btn btn-entrar" type="button" onclick="cadPrestador()">Cadastrar Novo</button></span> -->
                <button class="btn btn-entrar" type="button" onclick="sairAdmin()">Sair</button></span>
            </div>
        </div>
    </div>
</div>

{% endblock %}