{% extends 'base.html' %}
{% load static %}

{% block title %} Sobre {% endblock %}

{% block content%}
<section id="conteudo">
    <div class="cartao2">
        <div class="titulo1"><br>Nossa História</div>
        <div class="texto1"><br>Devido a crise causada pela pandemia do Covid 19, 
          muitas empresas e pessoas tiveram seus negócios afetados, 
          o que fez com que o desemprego aumentasse e profissionais autônomos tenham 
          visto diminuir a procura por seus serviços, observamos a possibilidade de 
          criar uma plataforma para ligar profissionais com aqueles que 
          buscam por determinados serviços, diminuindo os prejuízos desses profissionais 
          até que o mercado de trabalho se estabilize. 
          Nossa proposta é que esse plataforma não seja apenas um solução temporário, 
          mas sim que a longo prazo essa plataforma possa se tornar um serviço de uso 
          comum para diversos profissionais de diferentes classes e áreas. 
      </div>
        <section id="fotos">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'img/cadastroPI.png' %}" class="d-block" alt="Jesus">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/registroPI.png' %}" class="d-block" alt="Jesus">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/contatoPI.png' %}" class="d-block" alt="Jesus">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </section>
    </div>
</section>
{% endblock %}